:root {
	--gray-color: #F6F6F6;
	--blue-color: #03a9f4;
	--border-color: #EEE;
	--paragraph-color: #999;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image: url("../Images/dark-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.container {
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
li {
	list-style-type: none;
}

.parent {

}
.parent .container {
	background-color: white;
	display: flex;
}
.parent .message {
	padding: 30px;
	border-right: 1px solid var(--border-color);
}
@media (max-width: 991px) {
	.message {
		width: 340px;
	}
}
@media (min-width: 992px) {
	.message {
		width: 380px;
	}
}
@media (max-width: 767px) {
	.message {
		display: none;
	}
}
.form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	gap: 15px;
}
.form form {
	flex: 1;
}
.form input {
	background-color: var(--gray-color);
	padding: 15px 20px;
	border-radius: 50px;
	border: 1px solid var(--border-color);
	width: 100%;
}
.form i {
	color: white;
	background-color: var(--blue-color);
	border-radius: 50%;
	height: 50px;
	min-width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
	padding: 15px 0;
	border-top: 1px solid var(--border-color);
	position: relative;
}
.card.active {
	background-color: var(--blue-color);
	color: white;
	width: calc(100% + 60px);
	transform: translateX(-30px);
	padding: 15px 30px;
	margin-bottom: 70px;
}
.card.active .person .time,
.card.active .person .content {
	color: white;
}
.card .person {
	display: flex;
	align-items: center;
	gap: 15px;
}
.card .person img {
	width: 60px;
	border-radius: 50%;
}
.card .text {
	flex: 1;
	position: relative;
}
.card .text .name {
	margin: 0 0 10px;
	font-weight: bold;
}
.card .text .content {
	margin: 0;
	color: var(--paragraph-color);
}
.card .time {
	position: absolute;
	right: 0;
	top: 0;
	font-weight: normal;
	color: var(--paragraph-color);
}

.chat {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.title {
	margin: 0;
	padding: 20px;
	background-color: var(--gray-color);
}
.title span {
	color: var(--paragraph-color);
	font-weight: normal;
}
.drake-chat {
	padding: 30px;
}
.date {
	display: block;
	text-align: center;
	color: var(--paragraph-color);
	position: relative;
}
.date::before,
.date::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 35%;
	height: 2px;
	background-color: var(--border-color);
}
.date::before {
	left: 0;
}
.date::after {
	right: 0;
}
@media (max-width: 991px) {
	.date::before,
	.date::after {
		width: 25%;
	}
}
.talking {
	margin: 30px 0;
	padding: 0;
}
.talking li {
	width: fit-content;
	padding: 15px 20px;
	margin-bottom: 10px;
	border-radius: 8px;
	position: relative;
}
.talking li.blue {
	background-color: var(--blue-color);
	color: white;
}
.talking li.gray {
	background-color: var(--gray-color);
	margin-left: auto;
}
.talking li::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-width: 10px;
	border-style: solid;
	border-color: transparent blue transparent transparent;
}
.talking li.blue::before {
	border-color: transparent var(--blue-color) transparent transparent;
	left: -16px;
}
.talking li.gray::before {
	border-color: transparent transparent transparent var(--gray-color);
	right: -16px;
}
.writing {
	background-color: var(--gray-color);
	padding: 15px 20px;
	border-radius: 8px;
	border: 1px solid var(--border-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.writing i {
	color: var(--paragraph-color);
}
.writing .icons {
	display: flex;
	gap: 15px;
}